pkgbase = lexora-buddy-bin
	pkgdesc = Lexora Buddy local personal AI companion and native desktop pet
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/haohaoxue-site/Lexora
	arch = x86_64
	license = AGPL-3.0-only
	depends = alsa-lib
	depends = at-spi2-core
	depends = bubblewrap
	depends = cairo
	depends = dbus
	depends = desktop-file-utils
	depends = expat
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = git
	depends = gtk-layer-shell
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libcups
	depends = libnotify
	depends = libsecret
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = libxss
	depends = libxtst
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = systemd-libs
	depends = util-linux-libs
	depends = xdg-utils
	provides = lexora-buddy
	conflicts = lexora-buddy
	options = !strip
	options = !debug
	source_x86_64 = lexora-buddy-0.1.0-amd64.deb::https://github.com/haohaoxue-site/Lexora/releases/download/buddy-v0.1.0/Lexora-Buddy-0.1.0-linux-amd64.deb
	sha256sums_x86_64 = d849e41906c830bb851d4f5d05f8159d70f1d055c343dc90fad0ab32a22f9822

pkgname = lexora-buddy-bin
