DATABASE_URL=postgresql://samepage_ai_pg:samepage_ai_pg@localhost:5432/samepage_ai
REDIS_URL=redis://127.0.0.1:6379
APP_SECRET=

# Admin
SYSTEM_ADMIN=

# OAuth
OAUTH_PROXY_URL=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
LINUX_DO_CLIENT_ID=
LINUX_DO_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Storage
STORAGE_ENDPOINT=http://127.0.0.1:9000
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=
